{$TAG_SERVER_DOMAIN} {
	log {
		output stdout
	}

	reverse_proxy http://tag-server:8080 {
        header_up Host {remote_host}
        header_up X-Forwarded-For {client_ip}
        # header_up X-Forwarded-Proto {scheme} Unnecessary header_up X-Forwarded-Proto: the reverse proxy's default behavior is to pass headers to the upstream
        header_up X-Forwarded-Host {remote_host}
	}
}

{$PREVIEW_SERVER_DOMAIN} {
	log {
		output stdout
	}

	reverse_proxy http://preview-server:8080 {
        header_up Host {remote_host}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Host {remote_host}
	}
}

# The following configuration can be used to setup as a health check for a loadbalancer such as Cloudflare.
# :8888 {
	# tls internal
	# respond /healthz "ok" 200 {
		# close
	# }
# }